@model stoktakibiproje.Models.Entity.tblurunler

@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label> Ürün Adı</label>
        <input type="text" class="form-control" name="urunad" required="" placeholder="Ürün adını yazınız" maxlength=50/>
    </div>
    <div>
        <label> Marka</label>
        <input type="text" class="form-control" name="marka" required="" placeholder="Marka yazınız" maxlength=50/>
    </div>
    <div>
        <label> Kategori Seçiniz</label>

        @Html.DropDownListFor(m => m.tblkategoriler.kategoriid, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    </div>
    <div>
        <label> Fiyat</label>
        <input type="text" class="form-control" name="fiyat" required="" placeholder="Fiyat yazınız" />
    </div>
    <div>
        <label> Stok</label>
        <input type="text" class="form-control" name="stok" required="" placeholder="Stok yazınız" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Ürün Ekle</button>
    </div>
</form>



