
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label> Müşteri Adı</label>
        <input type="text" class="form-control" name="musteriad" required="" placeholder="Müşteri adını yazınız" maxlength=50 />
    </div>
    <div>
        <label> Müşteri Soyadı</label>
        <input type="text" class="form-control" name="musterisoyad" required="" placeholder="Müşteri soyadını yazınız" maxlength=50 />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Müşteri Ekle</button>
    </div>
</form>


